Makefile.in
acinclude.m4
aclocal.m4
autom4te.cache/
build-aux/
config.guess
config.h.in
config.h.in~
config.sub
configure
depcomp
doc/es/faked.1
doc/es/fakeroot.1
doc/fr/faked.1
doc/fr/fakeroot.1
doc/nl/faked.1
doc/nl/fakeroot.1
doc/sv/faked.1
doc/sv/fakeroot.1
install-sh
ltmain.sh
missing
